 
 

 
body
{
 	 background-image: url("http://tinyurl.com/q78ekex");	
     padding: 80px;  
}

#comp
{
  color: #F0FFF0;
}

#center
{
  padding: 0px;
  border: 2px solid #a1a1a1;   
}


 #topleft
 {
  padding:0px; 
  height:150px;   
  background-color: #FFFFFF;   
   
 }

 
 
 
 

#topright
{
  height:150px;   
  background-color: #A52A2A ;   
}
 
#topinnerleft
{
  height: 600px;
  background-color: #DCDCDC;   
} 

#topinnerright 
{
 
 width: 972px;
 height: 600px;
 padding-top:100px;
 background-color: #FFFFFF;
 border: 2px solid #a1a1a1;   

}

#innercenter
{
  padding: 0px;
}


#bottominnerleft
{
  height:50px; 
  background-color: #080000;   
} 

#bottominnerright
{
     
  height:50px;   
  width: 972px;
  background-color: #080000;    
}

#bottomcenter
{
  padding: 0px;
}



#mailerr
{
  color: red;
  position: absolute;
  top: 392px;
  left: 880px;

}

#pass
{
  color: red;
  position: absolute;
  top: 492px;
  left: 880px;

}

#conformpass
{
	color: red;
  position: absolute;
  top: 592px;
  left: 880px;
}

#passequal
{
  color: red;
  position: absolute;
  top: 592px;
  left: 880px;
		
}
table#albums 
{
    border-collapse:separate;
    border-spacing:0 15px;
}

 