
body
{
	 background-image: url("http://tinyurl.com/q78ekex");
}

#comp
{
	color: #F0FFF0;
}
 

/*#middleslider .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 300%;
      height: 200px;
      margin: auto;
  }
*/

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 200%;
      height: 200px;
      margin: auto;
  }

  .carousel-inner 
  {
    height: 200px;

  }

#topinnerright .container
{
  float: left;
  width: 30%;
  
}

  
body
{
  padding: 50px;  
}

#employee
{
	float:right;
}

   
#center
{
  padding: 0px;
  border: 2px solid #a1a1a1;   
}

#innertopleft
{
	float:left;
}

 #topleft
 {
  padding: 0px;
  height:150px;   
  background-color: #FFFFFF;   
   
 }

#topright
{
  height:150px;   
  background-color: #A52A2A	;   
}

 
 
#topinnerleft
{
  height: 600px;
  background-color: #DCDCDC;   
} 


#innercenter
{
  padding: 0px;
}


#bottominnerleft
{
  height:50px; 
  background-color: #080000;   
} 

#bottominnerright
{
     
  height:50px;   
  width: 972px;
  background-color: #080000;    
}

#bottomcenter
{
  padding: 0px;
}

ul li
{
  line-height: 40px;
  list-style-type: none;
  
}

ul li a
{
  text-decoration: none;
  color: black;
}



#topinnerright 
{
 
 width: 972px;
 height: 600px;
 padding-top:100px;
 background-color: #FFFFFF;
 border: 2px solid #a1a1a1;   

}