html { 
  background: url(resources/images/employee.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 
 
 div
 {
  
    margin-left: 35%;
    margin-right:35%;
    width: 100%;
    padding-top: 10%;
    border-width:25px;



 }
 
#form
{
	background: #FFCC99;
	width: 470px;
	margin: 0 auto;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 30px; 
}

div h2
{
    background: #FFCC99;
}

fieldset
{
  background: #FFCC99; 
}

legend
{
    background: #FFCC99;  
}

/* *
{
background: url("http://goo.gl/Oi78Rb") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
 */
#user
{
	color: red;
	position: absolute;
	top: 385px;
	left: 880px;
	
}
	
#pass
{
	color: red;
	position: absolute;
	top: 385px;
	left: 880px;
	
}

#loginErr
{
	color: red;
}
